#nav-bar {
    background: #393939;
    position: absolute;
    top: 0;
    z-index: 3;
    overflow-x: hidden;
    min-height: 500px;
    height: 100%;
    width: 60px;
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    width: 100%;
    overflow: hidden;

    a {
        margin-bottom: 10px;
        text-decoration: none;
    }
}

.nav-link {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 18px;
    line-height: 45px;

    .icon {
        opacity: 1;
        transition-duration: .4s;
        transition-property: opacity;
    }

    &:hover .icon {
        opacity: .4;
    }
}

.logo {
    display: block;
    margin-top: 25px;
    padding: 8px 0;
}

.ext-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    bottom: 25px;
    width: 100%;

    li {
        margin-top: 10px;

        a {
            text-decoration: none;
        }
    }
}

.slide-text {
    position: relative;
    margin-left: 20px;
}

.slide-text::before,
.slide-text::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slide-text::before {
    background: #393939;
    animation: textslideout .4s ease forwards;
}

@keyframes textslidein {

    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

@keyframes textslideout {

    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

// media queries

@media (min-width: 960px) {

    #nav-bar {
        transition: width .5s ease-out;
    }

    #nav-bar:hover {
        width: 180px;

        .slide-text::before {
            animation: textslidein .8s ease forwards;
            animation-delay: .2s;
        }
    }

    .dropdown-icon {
        display: none;
    }

    #dropdown-menu {
        display: none;
    }
}

@media (max-width: 960px) {

    #nav-bar {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        min-height: 0;
        overflow: hidden;

        .dropdown-icon {
            color: #fff;
            position: absolute;
            top: 18px;
            right: 30px;
        }

        #dropdown-menu {
            list-style-type: none;
            display: none;
            height: fit-content;
            background: #555;
            /* Non-rgba compatable browsers */
            background: rgba(33, 33, 33, 0.9);
            width: 100%;
            position: absolute;
            top: 60px;
        }

        #dropdown-menu ul {
            display: block;
            position: absolute;
            top: 100%;
            width: 100%;
        }

        #dropdown-menu ul a {
            text-decoration: none;
            width: 100%;
        }

        #dropdown-menu ul li {
            list-style-type: none;
            display: block;
            height: 60px;
            width: 100%;
            font-size: 1.5em;
            line-height: 60px;
            padding-left: 30px;
            color: #fff;
            border-bottom: 2px solid #fff;
        }

        #dropdown-menu ul li:last-child {
            border-bottom: none;
        }

        #dropdown-menu ul li a {
            display: block;
            color: #fff;
            width: 100%;
        }

        #dropdown-menu ul li:hover {
            background: #333;
            color: #fff;
        }

        nav {
            display: none;
        }

        .ext-links {
            position: relative;
            margin-top: 43px;
            width: 25%;
        }

        ul {

            flex-direction: row;

            li {
                margin-top: 0;
                padding-left: 18px;
                list-style-type: none;

                span {
                    display: none;
                }
            }



        }
    }
}