.nav-bar {
    background: #393939;
    position: absolute;
    top: 0;
    z-index: 3;
    overflow-x: hidden;
    min-height: 500px;
    height: 100%;
    width: 60px;

    transition: width .5s ease-out;
}

.nav-bar:hover {
    width: 180px;

    .slide-text::before {
        animation: textslidein .8s ease forwards;
        animation-delay: .2s;
    }
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    width: 100%;
    overflow: hidden;

    a {
        margin-bottom: 10px;
        text-decoration: none;
    }
}

.nav-link {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 18px;
    line-height: 45px;

    .icon {
        opacity: 1;
        transition-duration: .4s;
        transition-property: opacity;
    }

    &:hover .icon {
        opacity: .4;
    }
}

.logo {
    display: block;
    margin-top: 25px;
    padding: 8px 0;
}

.ext-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    bottom: 25px;
    width: 100%;

    li {
        margin-top: 10px;

        a {
            text-decoration: none;
        }
    }
}

.slide-text {
    position: relative;
    margin-left: 20px;
}

.slide-text::before,
.slide-text::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slide-text::before {
    background: #393939;
    animation: textslideout .4s ease forwards;
}

@keyframes textslidein {

    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

@keyframes textslideout {

    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}